body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-image: url(./imgs/bjback.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit, #stand, #restart {
    height: 50px;
    width: 100px;
    font-size: 20px;
}

#results {
    font-size: 30px;
}

button {
    background-color: red;
    color: white;
}

.side {
    float: left;
    width: 15%;
    position: absolute;
}

.side-photos {
    width: 200%;
}